.incorrect {
  animation: shake 0.4s;
}

@keyframes shake {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(2em);
  }
  40% {
    transform: translate(-2em);
  }
  60% {
    transform: translate(2em);
  }
  80% {
    transform: translate(-2em);
  }
  100% {
    transform: translate(0);
  }
}
