<div
  class="bg-[#1d2328] flex items-center justify-center gap-1 px-2 py-1 w-14 h-14"
  [class.green-border]="match === numberMatch.EXACT"
  [class.yellow-border]="
    match === numberMatch.HIGHER || match === numberMatch.LOWER
  "
>
  <p class="text-white font-semibold">{{ value }}</p>
  <svg
    *ngIf="match === numberMatch.HIGHER || match === numberMatch.LOWER"
    [class.rotate-180]="match === numberMatch.LOWER"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="w-5 h-5 shrink-0"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M4.5 12.75l7.5-7.5 7.5 7.5m-15 6l7.5-7.5 7.5 7.5"
    />
  </svg>
</div>
